<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.madoor.madhub.mapper.CommentMapper">
    <select id="getCommentByPostId" resultType="com.madoor.madhub.model.vo.CommentVo">
SELECT
	f.id,
	f.content,
	f.user_id,
	f.post_id,
	f.reply_to,
	f.ip_address,
	f.create_time,
	f.likes,
	u.username,
	u.avatar_url as avatar
FROM
	m_follow_post f
	JOIN m_user u ON f.user_id = u.id
WHERE
	f.post_id = #{postId}
    </select>
</mapper>